<% layout('/layouts/boilerplate') %>
<style>

  body {
    background-color: #1a1a1a;
  }

  .text-white {
    color: #fff;
  }

  .bg-dark {
    background-color: #1a1a1a !important;
  }

  .nav-link {
    color: #fff !important;
  }
  .footer {
    background-color: #343a40;
  }

  .footer p {
    color: #fff;
  }

  section {
    color: white;
  }

  section p {
    border-color:#fff;
  }

  .card {
    border-color: white;
    height: 300px;
    justify-content: center;
    border-radius: 10px;
    margin-top: 30px;
  }
</style>
<main>
    <section class="about-section">
    <h2 class="card-title">About CyberEdu</h2>
    <div class="card bg-dark text-light mb-4">
      <div class="card-body">

          <p class="card-text">CyberEdu is a leading platform dedicated to providing high-quality cybersecurity education and resources to individuals and organizations worldwide.</p>
          <p class="card-text">Our mission is to empower individuals with the knowledge and skills necessary to navigate the ever-evolving landscape of cybersecurity, tackle emerging threats, and protect sensitive information.</p>
          <p class="card-text">At CyberEdu, we believe that cybersecurity education should be accessible to everyone. Our platform offers a diverse range of courses, from introductory lessons to advanced topics, suitable for beginners and seasoned professionals alike.</p>
          <p class="card-text">We strive to deliver engaging and practical learning experiences. Our courses are developed by industry experts, and our interactive approach ensures that learners can apply their knowledge in real-world scenarios.</p>
          <p class="card-text">Join our community of passionate learners, enhance your cybersecurity skills, and stay ahead of the evolving digital threats and also stay informed at every moment with our news.</p>
      </div>
    </div>
  </section>
</main>