<% layout('/layouts/boilerplate') %>
<style>

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1a1a1a;
        color: #fff;
    }

    main a {
        color: #fff;
        transition: all 0.5s;
    }

    .bg-dark {
        background-color: #1a1a1a !important;
    }

    .nav-link {
        color: #fff !important;
    }

    .card {
        border-color: white;
        height: 200px;
        justify-content: center;
        border-radius: 10px;
    }

    .btn-danger {
        margin-bottom: 0;
    }

    .card-text {
        padding-top: 10px;
    }
    
</style>

<section class="banner bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>CyberSecurity Challenges.</h2>
                <h3>Try your skills in the world of CyberSec.</h3>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="card bg-dark text-light mb-4">
                    <img src="images/banner-news-1.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">CyberSec Basics</h2>
                        <p class="card-text">Test your basic skills & knowledge in the world of Cybersecurity</p>
                        <a href="cyberbasics" class="btn btn-danger">Start</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card bg-dark text-light mb-4">
                    <img src="images/banner-news-2.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">Ransomware Quiz</h2>
                        <p class="card-text">The world is under attack from ransomware malware.</p>
                        <a href="ransom" class="btn btn-danger">Start</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card bg-dark text-light mb-4">
                    <img src="images/banner-news-3.jpg" alt="" class="card-img-top">
                    <div class="card-body">
                        <h2 class="card-title">Networking</h2>
                        <p class="card-text">Understanding the connection between modern devices.</p>
                        <a href="networking" class="btn btn-danger">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
