<% layout('/layouts/boilerplate') %>
<style>

  body {
    background-color: #1a1a1a;
  }

  .text-white {
    color: #fff;
  }

  .bg-dark {
    background-color: #1a1a1a !important;
  }

  .nav-link {
    color: #fff !important;
  }

  .btn {
    background-color: #343a40;
    border-color: #343a40;
  }

  .btn:hover {
    background-color: #23272b;
    border-color: #23272b;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .card {
    background-color: #343a40;
    border-color: #343a40;
  }

  .card-title,
  .card-subtitle {
    color: #fff;
  }

  .card-text {
    color: #d4d4d4;
  }

  .card-link {
    color: #007bff;
  }

  .card-link:hover {
    color: #0056b3;
  }

  .footer {
    background-color: #343a40;
  }

  .footer p {
    color: #fff;
  }

  h2 {
    color:#fff;
  }

</style>
<main>
    <section class="course-section float-md-left">
      <h2>Available Courses</h2>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">CyberSec Basics</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Intro into CyberSecurity</h6>
          <p class="card-text">Cybersecurity is not just about protecting systems and data; it's about safeguarding the very fabric of our interconnected world. It requires constant vigilance, adaptability, and collaboration to defend against evolving threats and ensure a secure digital future for all.</p>
          <a href="formCourse" class="card-link"><button class="btn btn-primary">Enroll</button></a>
        </div>
      </div>

    <br>

      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">Networking Basics</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Intro into Networking</h6>
          <p class="card-text">Computer networking forms the backbone of our digital landscape, enabling seamless communication and information exchange. It empowers individuals and organizations to connect, collaborate, and innovate. Just as a strong foundation is vital for a structure, robust networking principles and practices are essential to build a reliable, efficient, and secure interconnected world."</p>
          <a href="formCourse" class="card-link"><button class="btn btn-primary">Enroll</button></a>
        </div>
      </div>

    <br>

      <h2>Other great free online courses!</h2>
      <div class="card" style="width: 50rem;">
        <div class="card-body">
          <h5 class="card-title">Cybersecurity for Everyone</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Brushing the surface of cybersecurity</h6>
          <p class="card-text">Cybersecurity: A vital shield against evolving digital threats, safeguarding our interconnected world and preserving trust in the digital age.</p>
          <a href="https://www.coursera.org/learn/cybersecurity-for-everyone" class="card-link"><button class="btn btn-primary">Visit the website</button></a>
        </div>
      </div>

    <br>

      <div class="card" style="width: 50rem; margin-bottom: 15px;">
        <div class="card-body">
          <h5 class="card-title">Cryptography</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Intro into Cryptograpy</h6>
          <p class="card-text">Cryptography serves as the guardian of digital trust, providing the essential tools and techniques to protect sensitive information in an increasingly interconnected world. It is the art and science of securing data through encryption, enabling confidential communication, preserving privacy, and ensuring the integrity and authenticity of information. By harnessing the power of cryptography, we fortify the foundations of digital trust, empowering individuals and organizations to navigate the complexities of the modern digital landscape with confidence and security.</p>
          <a href="https://www.coursera.org/learn/crypto" class="card-link"><button class="btn btn-primary">Visit the website</button></a>
        </div>
      </div>

    </section>
  </div>
  </main>